*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: hidden;
}
section{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: linear-gradient(to bottom, #f7f7fe, #dff1ff);
}
section .colour{
    position: absolute;
    filter: blur(150px);
}
section .colour:nth-child(1){
    top: -350px;
    width: 600px;
    height: 600px;
    background: #bf4ad4;
}